<!DOCTYPE html>
<html layout:decorate="~{page-layout.html}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="#{user.page_title}"></title>
</head>
<main layout:fragment="main">

    <h1>Users (pageViewCount: [[${pageViewCount}]])</h1>

    <!--/* This is an null-safe text dereference example */-->
    <p>Welcome [[${demo?.value}]]</p>

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" th:each="usr : ${userList}" th:object="${usr}">
                <strong th:text="*{username}">John Doe</strong> - <span th:text="*{tckn}">33</span> - <span th:text="*{password}">1234</span>
                <div>
                    <a th:href="@{/users/{id}/profile(id=*{id})}">Go to profile</a>

                    <a th:href="@{/users/__*{id}__/profile}">Go to profile</a>
                </div>

                <ul>
                    <li th:each="item : *{items}">
                        [[${item.name}]]
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</main>

</html>